body {
    background: linear-gradient(to right, rgba(75, 226, 87, 0.432), rgba(48, 165, 97, 0.596));
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    color: rgba(35, 83, 187, 0.575);
    text-align: center;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;

}

section {
    background: rgba(88, 147, 224, 0.699);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);

}

h2 {
    text-align: center;
    font-size: 20px;
    color:black;
}

p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}

button {
    background: #20db9471;
    padding: 8px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #e0353571;
}

#res {
    background: #f0f9ff;
    margin-top: 20px;
   

}
